<div id="aboutContainer">
  <div id="bio" class="column">
    <p></p>
  </div>
  <div id="skills" class="column">

  </div>
  <div id="education" class="column">
    <div id="myPic">
      <img ng-src="images/myPic.png" alt="">
    </div>
    <div>
      <h3>Galvanize</h3>
      <h5>Full Stack Development</h5>
      <h5>April 2016 - Sep 2016</h5>
    </div>
    <hr>
    <div>
      <h3>University of Wisconsin</h3>
      <h5>BS-Economics</h5>
      <h5>Aug 2006 - May 2010</h5>
    </div>
  </div>
</div>
