<div id="experienceContainer">
  <div class="job" id="leftJob">
    <h2>Galvanize</h2>
    <h5>Full Stack Student</h5>
    <h5>April 2016-Sep 2016</h5>
    <ul>
      <li>24 Week immersive program designed to develop a comprehensive full stack development foundation.</li>
      <li>Concentration on NEAP Stack (Node, Express, Angular, Postres).</li>
      <li>Engage in single, partner and group projects to simulate a real world engineering environment.</li>
      <li>Emphasis on Agile workflow with Pivotal Tracker.</li>
    </ul>
  </div>
  <hr>
  <div class="job" id="middleJob">
    <h2>Coors Distributing Company</h2>
    <h5>Merchandiser <i class="fa fa-chevron-right" aria-hidden="true"></i> Route Relief <i class="fa fa-chevron-right" aria-hidden="true"></i> Account Manager</h5>
    <h5>Aug 2014-March 2016</h5>
    <ul>
      <li>Manage retailer inventory levels, and influence retailer offerings based on the accounts primary demographic.</li>
      <li>Work with Brewery Reps in the market to grow their respective brands.</li>
      <li>Ensure premier cooler and floor placement of CDC brands through positive retailer relationships.</li>
      <li>Work with other teams to execute company goals and initiatives.</li>
      <li>Execute brand promotions and sales programs for the benefit of CDC suppliers.</li>
      <li>Participate in company surveys and audits to track market execution.</li>
    </ul>
  </div>
  <hr>
  <div class="job" id="rightJob">
    <h2>Inpro Corporation</h2>
    <h5>Sales Associate <i class="fa fa-chevron-right" aria-hidden="true"></i> Inside Sales Representative</h5>
    <h5>Dec 2011-April 2014</h5>
    <ul>
      <li>Communicate with both internal and external teams on a daily basis regarding project progress from conception to completion.</li>
      <li>Increased facility sales in my assigned territories 50% my first full calendar year of 2013.</li>
      <li>Top Facility Sales Rep at Inpro selling 121.9% of my 2013 target.</li>
      <li>Formed relationships with major healthcare providers in my territory, working with them on renovations and facility maintenance.</li>
      <li>Collaborate with other members of the IPC division to improve and grow the product line.</li>
    </ul>
  </div>
</div>
