<div id="container">
  <div class="projectDiv" id="orderZip">
    <h3>OrderZip</h3>
    <a href=""><img ng-src="" alt=""></a>
    <span><strong>Tech: </strong>Full NEAP Stack</span>
    <p></p>
  </div>
  <div class="projectDiv" id="orderZipDemo">
    <h3>OrderZip Demo</h3>
    <a href=""><img ng-src="" alt=""></a>
    <span><strong>Tech: </strong>Front End + Angular</span>
    <p></p>
  </div>
  <div class="projectDiv" id="hitchBike">
    <h3>HitchBike</h3>
    <a href=""><img ng-src="" alt=""></a>
    <span><strong>Tech:</strong> Full NEAP Stack</span>
    <p></p>
  </div>
  <div class="projectDiv" id="pottySpotter">
    <h3>PottySpotter</h3>
    <a href=""><img ng-src="" alt=""></a>
    <span><strong>Tech:</strong>Node, Express, Jade, Google Maps API, SCSS </span>
    <p></p>
  </div>
</div>
