<div id="portfolioContainer">
  <div>
    <div class="projectDiv" id="orderZip">
      <h3>OrderZip</h3>
      <span><strong>Tech: </strong>Full NEAP Stack</span>
      <p></p>
      <a href="https://serene-taiga-16229.herokuapp.com/"><img ng-src="images/orderZip.png" alt=""></a>
    </div>
    <div class="projectDiv" id="orderZipDemo">
      <h3>OrderZip Demo</h3>
      <span><strong>Tech: </strong>Front End + Angular</span>
      <p></p>
      <a href="https://orderzipdemo.firebaseapp.com"><img ng-src="images/orderZipDemo.png" alt=""></a>
    </div>
  </div>
  <div>
    <div class="projectDiv" id="hitchBike">
      <h3>HitchBike</h3>
      <span><strong>Tech:</strong> Full NEAP Stack</span>
      <p></p>
      <a href="https://hitch-bike.herokuapp.com/"><img ng-src="images/hitchbike.png" alt=""></a>
    </div>
    <div class="projectDiv" id="pottySpotter">
      <h3>PottySpotter</h3>
      <span><strong>Tech:</strong>Node, Express, Jade, Google Maps API, SCSS </span>
      <p></p>
      <a href="https://pottyspotter.herokuapp.com/"><img ng-src="images/pottySpotter.png" alt=""></a>
    </div>
  </div>
</div>
