body {
  font-family: 'Sintony', sans-serif;
}
header {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  justify-content: space-between;

}
#name{
  margin-left: 2.5vw;
}
#icons {
  margin-right: 2.5vw;
  /*display: flex;
  justify-content: center;*/
}
header img {
  height: 32px;
  width: 32px;
  margin-left: 2.5px;
  margin-right: 2.5px;

}
header img:hover {
  height: 38px;
  width: 38px;
}
navbar {
  display: flex;
  justify-content: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95vw;
  margin: auto;
}
navbar a {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
navbar a:hover {
  text-decoration: underline;
}
footer {
  display:flex;
  justify-content: center;
  align-self: center;
  border-top: 3px solid black;
  width: 95vw;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
#copyright {
  display: flex;
  align-items: center;
  margin-right: 3px;
  margin-top: 6px;
}
/*About page styling*/
#aboutContainer {
  width: 95vw;
  margin: auto;
}


/*Experience page styling*/

#experienceContainer {
  display: flex;
  width: 95vw;
  margin: auto;
}
.job {
  width: 30vw;
  justify-content: space-between;
}
#leftJob {
  margin-left: 0;
  background-size: 30vw 90%;
  background-position: center;
}
#rightJob {
  margin-left: 0;
}
#experienceContainer h2 {
  margin-bottom: 0;
  text-align: center;
}
#experienceContainer h5 {
  margin-top: 2px;
  text-align: center;
  margin-bottom: 2px;
}

/*Porfolio page styling*/

#portfolioContainer {
  display: flex;
  width: 95vw;
  margin: auto;
}
.projectDiv {
  display: flex;
  flex-direction: column;
  width: 47vw;
  /*border: 1px solid black;*/
  margin-top: 5px;
  margin-bottom: 5px
}
.projectDiv h3 {
  text-align: center;
  margin-bottom: 0;
}
.projectDiv span {
  margin-top: 2px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.projectDiv p {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.projectDiv img {
  display: flex;
  width: 45vw;
  margin: auto;
  margin-bottom: 5px;
}
.projectDiv img:hover{
  border: 2px solid red;
}
#orderZip {
  margin-right: .35vw;
}
#orderZipDemo {
  margin-right: .35vw;
}
#hitchBike {
  margin-left: .35vw;
}
#pottySpotter {
  margin-left: .35vw;
}
