body {
  font-family: 'Sintony', sans-serif;
}
header {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  justify-content: space-between;

}
#name{
  margin-left: 2.5vw;
}
#icons {
  margin-right: 2.5vw;
  /*display: flex;
  justify-content: center;*/
}
header i {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
.fa-envelope {
  margin-right: 10px;
}
#icons i:hover {
  color: #007DC3;
}
navbar {
  display: flex;
  justify-content: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95vw;
  margin: auto;
}
navbar a {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
navbar a:hover {
  color: #007DC3;
}
footer {
  display:flex;
  justify-content: center;
  align-self: center;
  border-top: 3px solid black;
  width: 95vw;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
#copyright {
  display: flex;
  align-items: center;
  margin-right: 3px;
  margin-top: 6px;
}
h1 {
  text-align: center;
}

/*About page styling*/
#aboutContainer {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
#aboutContainer p {
  font-size: 16px;
}
#aboutContainer h3 {
  /*text-align: center;*/
  font-size: 24px;
}
#aboutContainer h4 {
  margin-bottom: 5px;
  margin-left: 1vw;
}
#aboutContainer h5 {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 1vw;
}
#bio {
  width: 45vw;
  padding: 10px;
}
#bio {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#bio:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('/images/Log.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.centerTitle {
  text-align: center;
}
#skills {
  width: 50vw;
  /*border: 1px solid black;*/
}
#skillsDiv {
  display: flex;
  margin-bottom: 20px;
}
#skills ul {
  margin: auto;
}
#skills li {
  margin-bottom: 5px;
}
#education {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
#educationTitle {
  margin-left: 22.5%;
  font-weight: bold;
}
#education img {
  display: flex;
  margin: auto;
  width: 15vw;
  margin-top: 1.5em;
  margin-bottom: 5px;
  border-radius: 10%;
}
#galvanizeSchool {
  margin: auto;
  text-align: center;
  height: auto
}
#wisconsinSchool {
  text-align: center;
  margin: auto;
  margin-right: 20px;
  height: auto;
}
#galvanizeSchool {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#galvanizeSchool:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('/images/galvanizeG.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 10vw;
}
#wisconsinSchool {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#wisconsinSchool:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('/images/wisconsin.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 10vw;
}
/*Experience page styling*/

#experienceContainer {
  display: flex;
  width: 95vw;
  margin: auto;
}
.job {
  width: 30vw;
  justify-content: space-between;
}
#leftJob {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#leftJob:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('/images/galvanizelogo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 30vw;
}
#middleJob {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#middleJob:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('/images/cdc.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 25vw;
}
#rightJob {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#rightJob:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('/images/inpro.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 30vw;
}
#leftJob {
  margin-left: 0;
}
#rightJob {
  margin-right: 0;
}
#experienceContainer h2 {
  margin-bottom: 0;
  text-align: center;
}
#experienceContainer h5 {
  margin-top: 2px;
  text-align: center;
  margin-bottom: 2px;
}

/*Porfolio page styling*/

#portfolioContainer {
  display: flex;
  width: 95vw;
  margin: auto;
  border-bottom: 3px solid black;
}
.projectDiv {
  display: flex;
  flex-direction: column;
  width: 47vw;
  /*border: 1px solid black;*/
  margin-top: 5px;
  margin-bottom: 5px
}
.projectDiv h3 {
  text-align: center;
  margin-bottom: 0;
}
.projectDiv span {
  margin-top: 2px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.projectDiv p {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.projectDiv img {
  display: flex;
  width: 45vw;
  margin: auto;
  margin-bottom: 5px;
}
.projectDiv img:hover{
  opacity: 0.5;
}
#orderZip {
  margin-right: .35vw;
}
#orderZipDemo {
  margin-right: .35vw;
}
#hitchBike {
  margin-left: .35vw;
}
#pottySpotter {
  margin-left: .35vw;
}
