<div id="portfolioContainer">
  <div>
    <div class="projectDiv" id="orderZip">
      <h3>OrderZip</h3>
      <span><strong>Tech: </strong>Full NEAP Stack</span>
      <p>An automated ordering software for beer industry field reps.</p>
      <a href="https://serene-taiga-16229.herokuapp.com/"><img ng-src="images/OrderZip.png" alt=""></a>
    </div>
    <hr>
    <div class="projectDiv" id="orderZipDemo">
      <h3>OrderZip Demo</h3>
      <span><strong>Tech: </strong>Front End, Angular, Pivotal Tracker API, UXPin</span>
      <p>Capstone project demo complete with user stories and wireframes.</p>
      <a href="https://orderzipdemo.firebaseapp.com"><img ng-src="images/OrderZipDemo.png" alt=""></a>
    </div>
  </div>
  <hr>
  <div>
    <div class="projectDiv" id="hitchBike">
      <h3>HitchBike</h3>
      <span><strong>Tech:</strong> Full NEAP Stack</span>
      <p>Rent your bike to local cyclists in need of a ride.</p>
      <a href="https://hitch-bike.herokuapp.com/"><img ng-src="images/hitchBike.png" alt=""></a>
    </div>
    <hr>
    <div class="projectDiv" id="pottySpotter">
      <h3>PottySpotter</h3>
      <span><strong>Tech:</strong>Node, Express, Jade, Google Maps API, SCSS </span>
      <p>Find a clean bathroom that fits your needs based on your current location.</p>
      <a href="https://pottyspotter.herokuapp.com/"><img ng-src="images/pottySpotter.png" alt=""></a>
    </div>
  </div>
</div>
